@use "sass:math";
// 色
$white: #fff;
$black: #333333;
$red: #e55757;
$green: #267c82;
$pink: #e06e89;
$orange: #f9a826;
$lightgreen: #adcf50;
$purple: #bd80b6;
$lightblue: #6bceda;
$smokeblue: #dff0f1;
